.App {
  padding: 20px;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

input[type="radio"] {
  margin-right: 0.5rem;
  margin-left: 1rem;
}

input[type="number"] {
  color: black;
  padding-left: 5px;
}

.action-button {
  padding: 1rem;
  border-width: 1px;
  border-radius: 0.25rem;
  margin: 0 auto;

  transition: background-color 0.2s ease-in;
}

.action-button:hover {
  background-color: white;
  color: black;
}

.section {
  margin-bottom: 1rem;
}

.section__title {
  font-weight: bold;
  font-size: 1.3rem;
}